*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}
.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}
.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
}
